
body {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: none;
}
ul, li{
    list-style: none;
}

.container{
   width: 450px;
   height: 552px;
   background-color: white;
   border: 3px solid black;
   border-radius: 15px;

}

.description{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    margin-top: 20px;
}

.name{
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.72px;
}

.tag, .location{
    font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.6px;
        letter-spacing: 0.48px;
        color: rgb(90, 83, 83);
        margin-top: 10px;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-top: 4px solid gray;
    background-color: LightGray;
    padding: 28.5px;
    border-radius: 0 0 9px 9px;
   
}
.statsItem{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.label{
    font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.value{
    font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}